.App {
  text-align: center;
  margin-top: 50px;
}

button {
  padding: 10px 15px;
  font-size: 15px;
  margin-top: 20px;
  outline: none !important;
}

p {
  margin-top: 20px;
  font-size: 18px;
  white-space: pre-wrap;
}

/* file upload */
.file-upload {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.file-upload input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  padding: 0;
  font-size: 20px;
  cursor: pointer;
  opacity: 0;
  filter: alpha(opacity=0);
}

.file-upload-button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
.roundedBorder{
  border-radius: 45px;
}
.borderBottom{
 border-bottom: 2px solid rgba(119, 119, 119, 0.622);
 width: 90%;
 margin: auto;
}
.bBottom{
  border-bottom: 2px solid #000 ;
  transition: transform 0.3 ease;
  position: relative;
  padding-bottom: 18px;
  bottom: -10px;
}

/* link component */
.input-with-button {
  position: relative;
  display: inline-block;
}

.input-with-button input[type="text"] {
  height: 40px;
  font-size: 16px;
  border: 1px solid red;
  border-radius: 25px;
  padding-left:45px;
}

.input-with-button button {
  position: absolute;
  left: 0;
  top: 0;
  width: 40px;
  color: white;
  border: none;
  padding: 0 10px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 50%;
  height: 76%;
  margin-top: 5px; 
  margin-left: 5px;
  }
  .borderless td, .borderless th,.borderless thead,.borderless tbody {
    border: none !important;
}

/* archive icon */
.copy:hover,.download:hover{
  color: #00cdc6;
}
.paste:hover{
  color:darkblue
}
.trash:hover{
  color: darkred;
}

/* sidebar */
.hoverSidebar:hover{
  background-color: rgba(105,105,105,0.4);
}
.sidebar{
  height: 100vh;
  width: 150px;
  border-radius: 12px 0 0 12px;
}
@media (max-width:992px) {
  .sidebar{
    height: 120vh;
    width: 120px;
  }
}

/* svg */
.btn-svg:active{
  border: 1px solid #00cdc6;
}

/* select */
select{
  border:1px solid #00cdc6;
  color: #00cdc6;
}
select:hover{
  background-color: #00cdc6;
  color: white;
}

/* link & navLink */
.active-link .svg{
  stroke: #fff !important;
}
.active-navlink{
  background-color: rgba(105,105,105,0.6);
}
.NavLink:hover{
  text-decoration: none;
}

/* user border */
.borderTop{
  border-top: 1px solid #00cdc6 !important;
  width: 85px;
  margin: auto;
  margin-top: 10px;
}

